pipeline/Earthquake 10 yearswaas.json
{
	"name": "Earthquake 10 yearswaas",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Year",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('year')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute earthquake child",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "earthquake 10_year_child_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"startDate": {
										"value": "@concat(item(),'-01-01' )",
										"type": "Expression"
									},
									"endDate": {
										"value": "@concat(item(),'-03-31')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": [
						"2020"
					]
				}
			}
		],
		"variables": {
			"year": {
				"type": "Array"
			},
			"offset": {
				"type": "Integer"
			},
			"Page": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-21T14:17:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}